{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "react/jsx-filename-extension": ["off"],
    "linebreak-style": ["off"],
    "no-undef": ["error"],
    "react/sort-comp": ["off"],
    "react/prefer-stateless-function": ["off"],
    "no-use-before-define": ["off"],
    "no-useless-concat": ["off"],
    "import/extensions": ["off"],
    "import/no-unresolved": ["off"],
    "quotes": [1, "double", "avoid-escape"],
    "react/prop-types": ["off"],
    "react/no-string-refs": ["off"],
    "global-require": ["off"]
  }
}
